/* font */
body {
  font-family: "Noto Serif", serif;
  background-color: black;
}
/* end */

/* toggler none border */
.navbar-toggler,
.btn-close {
  /* This will completely remove border from the icon */
  /* If you need border for the icon then comment this code */
  border: 0 !important;

  /* if you want to check the border please uncomment below code */
  /* border-color: yellow !important; */
}

.navbar-toggler:focus,
.btn-close:focus {
  /*Below line will remove the border from the icon
  I have used bootstrap icon here */
  /* This will only remove the shadow effect */
  /* Border is still there */
  /* if you don't want any border then set the property equals to zero */
  border: 0 !important;
  box-shadow: none !important;

  /* This will remove the rounded corner(radious-border)
  and give square border */
  /* border-radius: 0 !important; */
}

.navbar {
  background-image: black;
}

.navbar-toggler {
  color: white !important;
}

.spinner-grow {
  width: 10px;
  height: 10px;
}

.item-sosmed {
  list-style: none;
}
